{% extends "_layouts/default.njk" %}

{% block body %}
<div class="content">
  <strong>Olá, {{user.name}}</strong>
  <p>Lista de agendamentos de hoje:</p>
  <ul class="providers">
    {% for schedule in schedules %}
      <li class="provider">
        <strong>{{schedule.time}}</strong>
        {% if schedule.user %}
        <div>
          <img src="/files/{{ schedule.user.avatar }}" />
          <strong>{{schedule.user.name}}</strong>
        </div>
        <a href="/app/appointments/delete/{{ schedule.user.id }}?date={{ schedule.value }}">-</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <a href="/app/logout" class="logout">Sair</a>
</div>
{% endblock %}
